body {
    background: #f1f1f1 url(https://gemnasium.com/assets/bg-f3513e3946d9743b64817c9f50ab66ee.jpg) !important;
    color: #333333;
    padding: 0 0 10px 0 !important;
    margin: 0;
    font: 14px/1.3em 'Source Sans Pro', sans-serif;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
    }

h3 {
    font-size: 15px;
}

a {
    color: #515864;
    font-weight: 700;
}

code, pre {
    background-color: #fff;
    color: #222;
    line-height: 100%;
}

body > footer {
    padding: 10px 10px 10px 50px;
    max-width: 840px;
    margin: 20px auto;
    color: #777777;
    position: relative;
    font-size: 11px;
    text-align: center;
}

.container {
    width: 100%;
}

.wrapper {
    overflow: hidden;
    color: #515864;
    margin: 0 auto;
    width: 70%;
    padding: 30px;
}

table.table {
    background-color: white;
}

table.packet tr td {
    text-align: center;
}

table.clients_table {
    width: 100%;
}

table.clients_table tr {
    height: 30px;
}

table.clients_table td:first-child {
    width: 20%;
}

table.clients_table td:first-child + td {
    width: 15%;
}

table.clients_table td:first-child + td + td {
    width: 15%;
}

#navigation {
    padding:0;
    background-color:#333;
    font-family: "Archivo Narrow",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: normal;
}

#navigation ul {
    width:70%;
    margin:0 auto;
    list-style:none;
    padding:10px 0;
}

#navigation ul li { 
    list-style:none;
    display:inline;
    margin-right:10px;
}

#navigation ul li.active > a { 
    color: white;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
}

#navigation ul a {
    padding:6px 12px;
    border-radius:3px;
    color: #999999;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    font-weight: normal;
}

#navigation ul a:hover {
    text-decoration:none;
    color: white;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
}

#right-nav {
    float: right;
    display: inline;
    padding: 0;
    margin-top: -30px;
    margin-right: 13%;
}
